<!DOCTYPE html>
<html>
    <head>
        <title>Admin Menu</title>
        <link rel="stylesheet" href="{{url_for('static',filename='menuadminnn.css')}}">
        <meta charset="utf-8">
        <link rel="icon" href="/img/safe_strongbox_money_icon_185919.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <a class="logo" href="/admin/menu"><img src="https://i.postimg.cc/x8fTTn4T/asdasdadasdasd.png" alt="Logo"
                width="400px" height="50px"></a>
            <nav>
                <ul class="nav_link">
                    <li><a class="bar1" href="">About Us</a></li>
                    <li><a class="bar1" href="">FAQ</a></li>
                </ul>
            </nav>
            <a class="logout" href="/logout"><button>Log Out</button></a>
        </header>
        <div class="content">
            <h1>UCHIHAHAH BANK</h1>  
            <br>
            <br>
            <div class = "btn-transaksi">
                <br> <br>
                <a id="transaksi" href="/admin/printreports">
                    <img src="https://img.icons8.com/cotton/64/000000/business-report.png" alt="report"
                    width="70" height="70"> <br> <br> PRINT REPORTS <br> <br> <br> <br>
                </a>
            </div>
            <div class="btn-account">
                <a id="text-account" href="/admin/regcustomer">
                    <img id="account" src="https://img.icons8.com/officel/80/000000/edit-user-male.png"
                     alt="Show Account" width="70" height="70" > <br> REGISTER CUSTOMER <br> <br>  
                </a>
                <div>
                    <a id="text-account2" href="/admin/printcustomer">
                        <img id="account" src="https://img.icons8.com/office/80/000000/gender-neutral-user.png"
                         alt="Show Account" width="70" height="70"><br>CUSTOMER INFO
                    </a>
                </div>
            </div>
        </div>
    </body>