*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient( #4931b3, #18bbd8);
}

.content{
    width: 380px;
    height: 400px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}

h1{
    position: relative;
    left: 80px;
    font-size: 20px;
}

h2{
    position: relative;
    top: 20px;
    left: 90px;
    font-size: 15px;
}

#transaksi{
    position: relative;
    top: 30px;
    left: 140px;
    font-size: 10px;
    text-decoration: none;
}

#account{
    position: relative;
    left: 10px;
    top: 10px;
}

#text-account{
    position: relative;
    top: 80px;
    left: 135px;
    font-size: 10px;
    text-decoration: none
}
