*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    background-color:lightblue;
}

.bar1{
    font-family: "Gudea", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
a{
    color: black;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: rgb(0, 0, 0);
    height: 100px;
    box-shadow: 0 0 10px black;
}

.logo{
    cursor: pointer;
    position: relative;
    left: -150px;
}

.nav_link{
    list-style: none;
    position: relative;
    left: 400px;
}

.nav_link li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a{
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover{
    color: #18bbd8;
}

header button{
    padding: 9px 25px;
    background-color:rgb(41, 119, 223);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    left: 100px;
}

.wrapper{
    text-decoration: none;
    width: 600px;
    height: 700px;
    position: relative;
    margin: 100px auto;
    background: ghostwhite;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.content{
    width: 400px;
    height: 100px;
    position: relative;
    margin: 50px auto;
    background: white;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px black;
}

.content img{
    position: relative;
    top: 20px;
    left: 20px;
}

.content p{
    position: relative;
    top: 8px;
}
h2{
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 20px;
}

.content .txt{
    position: relative;
    top: -50px;
    left: 120px;
}

.content:hover{
    transform: scale(1.05);
    transition: all .5s;
    z-index: 100;
    box-shadow: 0 0 10px gray;
}

