<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/static/icon.png">
        <title>Change Address</title>
        <link rel="stylesheet" href="{{url_for('static',filename='email.css')}}">
        <meta charset="utf-8">
        <link rel="icon" href="/img/safe_strongbox_money_icon_185919.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <a class="logo" href="/menu"><img src="https://i.postimg.cc/1zxKyBCC/logos.png" alt="Logo"
                width="500px" height="70px"></a>
            <nav>
                <ul class="nav_link">
                    <li><a class="bar1" href="/aboutus">About Us</a></li>
                    <li><a class="bar1" href="/faq">FAQ</a></li>
                </ul>
            </nav>
            <a class="logout" href="/logout"><button>Log Out</button></a>
        </header>
        <div class="wrapper">
            <div class="button-box">
                <div class="button">
                    <div id="btn"></div>
                    <button class="btn-click" >Input Address</button>
                </div>
                <form id="customer" action="/customer/change/address" class="input" method="POST">
                    <input type="text" class="field" name="address" placeholder="New Address" required>
                    <br> <br><br><br>
                    <input type="submit" class="login-btn" value="SUBMIT"></button>
                </form>                
            </div>
        </div>
        <a id="bck" href="/customer/change">
            <img src="https://png.pngitem.com/pimgs/s/78-780842_back-button-white-icon-png-transparent-png.png" alt="back"
            width="100" height="70">
        </a> 
        
    </body>
</html>