<!DOCTYPE html>
<html>
    <head>
        <title>Change Email</title>
        <link rel="stylesheet" href="{{url_for('static',filename='email.css')}}">
        <meta charset="utf-8">
        <link rel="icon" href="/img/safe_strongbox_money_icon_185919.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <a class="logo" href=""><img src="https://i.postimg.cc/x8fTTn4T/asdasdadasdasd.png" alt="Logo"
                width="400px" height="50px"></a>
            <nav>
                <ul class="nav_link">
                    <li><a class="bar1" href="">About Us</a></li>
                    <li><a class="bar1" href="">Contact</a></li>
                </ul>
            </nav>
            <a class="logout" href="/logout"><button>Log Out</button></a>
        </header>
        <div class="wrapper">
            <div class="button-box">
                <div class="button">
                    <div id="btn"></div>
                    <button class="btn-click" >Input Email</button>
                </div>
                <form id="customer" action="/customer/change/email" class="input" method="POST">
                    <input type="email" class="field" name="email" placeholder="New Email" required>
                    <br> <br><br><br>
                    <input type="submit" class="login-btn" value="SUBMIT"></button>
                </form>                
            </div>
        </div>
        
    </body>
</html>