
<div class="content">
    <h1 style="text-align: center">Account Detail</h1>
    <table>
        <tr>
            <th>ACCOUNTID</th>
            <th>CUSTOMERID</th>
            <th>TYPE</th>
            <th>BALANCE</th>
            <th>DETAILS</th>
        </tr>
        {% for d in det %}
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td>
                <td>{{ d[2] }}</td>
                <td>{{ d[3] }}</td>
                <td>
                    <a href="/accounts/deposit/{{d[0]}}">DEPOSIT</a>
                    <a href="/accounts/withdraw/{{d[0]}}">WITHDRAW</a>
                    <a href="/accounts/remove/{{d[0]}}">REMOVE</a>    
                </td>
            </tr>
        {% endfor %}
    </table>
</div>