<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/icon.png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>
    <link rel="stylesheet" href="{{url_for('static',filename='deposits.css')}}">
</head>
<body>
    <header>
        <a class="logo" href="/menu"><img src="https://i.postimg.cc/1zxKyBCC/logos.png" alt="Logo"
            width="500px" height="70px"></a>
        <nav>
            <ul class="nav_link">
                <li><a class="bar1" href="/aboutus">About Us</a></li>
                <li><a class="bar1" href="/faq">FAQ</a></li>
            </ul>
        </nav>
        <a class="logout" href="/logout"><button>Log Out</button></a>
    </header>
    <div class="content">
        <h1 style="text-align: center">Withdraw</h1>
        <table id="content-table">
            <thead>
                <tr>
                    <th>ACCOUNTID</th>
                    <th>CUSTOMERID</th>
                    <th>TYPE</th>
                    <th>BALANCE</th>
                    <th>WITHDRAW</th>
                </tr>
            </thead>
            <tbody>
                {% for w in wd %}
            <tr>
                <td>{{ w[0] }}</td>
                <td>{{ w[1] }}</td>
                <td>{{ w[2] }}</td>
                <td>{{ w[3] }}</td>
                <form style="text-align: center"  method="post">
                    <td>
                        <input type="number" id="amount" name="amount" min="50000" required/> 
                        <br><br>
                        <input  onclick="showSuccessAlert(document.getElementById('amount').value)" type="submit" value="Withdraw"/>
                    </td>
                </form>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    <a id="bck" href="/accounts">
        <img src="https://png.pngitem.com/pimgs/s/78-780842_back-button-white-icon-png-transparent-png.png" alt="back"
        width="100" height="70">
    </a>
<script>
    function showSuccessAlert(amount) {
        if(amount >= 50000){
            Swal.fire(
                'Deposit Successful',
                'Your Balance now update',
                'success'
            )
        }
        else if(amount < 50000){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Insufficient Amount!'
            })
        }
        else{
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Add amount first!'
            })
        }
    }
</script>       
</body>
</html>