<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='aboutuss.css')}}">
    <title>About Us</title>
</head>
<body>
    <header>
        <a class="logo" href="/menu"><img src="https://i.postimg.cc/1zxKyBCC/logos.png" alt="Logo"
            width="500px" height="70px"></a>
        <nav>
            <ul class="nav_link">
                <li><a class="bar1" href="/aboutus">About Us</a></li>
                <li><a class="bar1" href="/faq">FAQ</a></li>
            </ul>
        </nav>
        <a class="logout" href="/"><button>Log Out</button></a>
    </header>
<div class="content">
    <h1>Our Team</h1>
    <div class="group">
        <div class="member">
            <div class="imge">
                <img src="/static/aul.png" alt="aul">
            </div>
            <h3>Aulia Rahman Zulfi <br><br> 119140110</h3>
            <p class="job">Back End Developer</p>
            <p style="font-weight: 800;">Hi There!, i am Aulia Rahman Zulfi (119140110), from Sumatera Institute of Technology</p>
            <br> <br> <br> <br> <br> <br>
            <div >
                <a href="https://mobile.twitter.com/dragoncimol" target="_blank">
                    <img src="https://img.icons8.com/nolan/128/twitter.png" alt="twitter" height="50" width="50">
                </a>
            </div>
            <div>
                <a href="https://github.com/DragonCrymlll" target="_blank">
                    <img src="https://img.icons8.com/nolan/128/github.png" alt="github" height="50" width="50">
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/auliarahmanz/" target="_blank">
                <img src="https://img.icons8.com/nolan/128/instagram-new.png" alt="instagram" height="50" width="50">
                </a>
            </div>
        </div>
        <div class="member">
            <div class="imge">
                <img src="/static/andy.png" alt="andy">
            </div>
            <h3>Cahya Andy Mareza <br><br>119140007</h3>
            <p class="job">Jack of All Trades</p>
            <p style="font-weight: 800;"> Hi There!, I am Cahya Andy Mareza (119140110), from Sumatera Institute of Technology</p>
                <br> <br> <br> <br> <br> <br>
                <div >
                    <a href="https://www.youtube.com/watch?v=Lrj2Hq7xqQ8" target="_blank">
                        <img src="https://img.icons8.com/nolan/64/christmas-gift.png" alt="twitter" height="50" width="50">
                    </a>
                </div>
                <div>
                    <a href="https://github.com/cahyaandym" target="_blank">
                        <img src="https://img.icons8.com/nolan/128/github.png" alt="github" height="50" width="50">
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/cahyaandy_m/" target="_blank">
                    <img src="https://img.icons8.com/nolan/128/instagram-new.png" alt="instagram" height="50" width="50">
                    </a>
                </div>
        </div>
        <div class="member">
            <div class="imge">
                <img src="/static/fadhil.png" alt="fadhil">
            </div>
            <h3>Fadhillah Azhar Alsani <br><br>119140217</h3>
            <p class="job">Front End Developer</p>
            <p style="font-weight: 800;">Hi There! i am Fadhillah Azhar Alsani (119140217), from Sumatera Institute of Technology </p>
                <br> <br> <br> <br> <br>
                <div >
                    <a href="https://twitter.com/Fadhillah_Azhar" target="_blank">
                        <img src="https://img.icons8.com/nolan/128/twitter.png" alt="twitter" height="50" width="50">
                    </a>
                </div>
                <div>
                    <a href="https://github.com/FadhillahAzhar" target="_blank">
                        <img src="https://img.icons8.com/nolan/128/github.png" alt="github" height="50" width="50">
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/fadhilalsani/" target="_blank">
                    <img src="https://img.icons8.com/nolan/128/instagram-new.png" alt="instagram" height="50" width="50">
                    </a>
                </div>
        </div>
    </div>
</div>
</body>
</html>