<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="{{url_for('static',filename='accounttss.css')}}">
</head>
<body>
    <header>
        <a class="logo" href="/menu"><img src="https://i.postimg.cc/1zxKyBCC/logos.png" alt="Logo"
            width="500px" height="70px"></a>
        <nav>
            <ul class="nav_link">
                <li><a class="bar1" href="/aboutus">About Us</a></li>
                <li><a class="bar1" href="/faq">FAQ</a></li>
            </ul>
        </nav>
        <a class="logout" href="/logout"><button>Log Out</button></a>
    </header>
    <div class="content">
        <h1 style="text-align: center">Account</h1>
        <table id="content-table">
            <thead>
                <tr>
                    <th>ACCOUNTID</th>
                    <th>CUSTOMERID</th>
                    <th>TYPE</th>
                    <th>BALANCE</th>
                    <th>DETAILS</th>
                </tr>
            </thead>
            <tbody>
                {% for accdata in accdatadetail %}
                    <tr>
                        <td>{{ accdata[0] }}</td>
                        <td>{{ accdata[1] }}</td>
                        <td>{{ accdata[2] }}</td>
                        <td>{{ accdata[3] }}</td>
                        <td>
                            <a href="accounts/detail/{{accdata[0]}}">SHOW</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a id="btn" href="accounts/register">
            Register New Account
        </a>
    </div>
    <a id="bck" href="/menu">
        <img src="https://png.pngitem.com/pimgs/s/78-780842_back-button-white-icon-png-transparent-png.png" alt="back"
        width="100" height="70">
    </a> 
</body>
</html>