<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/static/icon.png">
        <title>Admin Login</title>
        <link rel="stylesheet" href="{{url_for('static',filename='admins.css')}}">
        <meta charset="utf-8">
        <link rel="icon" href="/img/safe_strongbox_money_icon_185919.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <a class="logo" href="/"><img src="https://i.postimg.cc/1zxKyBCC/logos.png" alt="Logo"
                width="500px" height="70px"></a>
            <nav>
                <ul class="nav_link">
                    <li><a class="bar1" href="/aboutus">About Us</a></li>
                <li><a class="bar1" href="/faq">FAQ</a></li>
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            <div class="button-box">
                <h1>Admin Login</h1>
                <form id="customer" class="input" method="post">
                    <input type="text" class="field" name="ID" placeholder="ID" required>
                    <input type="password" class="field" name="name" placeholder="password" required>
                    <input type="submit" class="login-btn" value="Login"></button>
                </form>                
            </div>
        </div>
        
    </body>
</html>