<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
        <link rel="icon" href="/static/icon.png">
        <link rel="stylesheet" href="{{url_for('static',filename='styless.css')}}">
        <meta charset="utf-8">
        <link rel="icon" href="/img/safe_strongbox_money_icon_185919.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <div class="header">
        <a class="logo" href="/"><img src="https://i.postimg.cc/1zxKyBCC/logos.png" alt="Logo"
            width="500px" height="70px"></a>
        <nav>
            <ul class="nav_link">
                <li><a class="bar1" href="/aboutus">About Us</a></li>
                <li><a class="bar1" href="/faq">FAQ</a></li>
            </ul>
        </nav>
    </div>
        <div class="wrapper">
            <div class="content" onclick="location.href='/login'">
                <div class = btn-customer>
                    <a id="text-customer" href="/login">
                        <img id="customer" src="https://www.svgrepo.com/show/8135/user.svg" alt="customer"
                        width="250" height="200"> <br><br> Customer <br>
                    </a>
                </div>

            </div>
            <div class="content" onclick="location.href='/admin'">
                <div class="btn-admin">
                    <a id="text-admin" href="/admin">
                        <img id="admin" src="https://www.svgrepo.com/show/243088/admin.svg"
                        alt="admin" width="250" height="200"> <br> <br> Admin
                    </a>
                </div>
            </a>
            </div>
        </div>
    </body>