<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{url_for('static',filename='loginnn.css')}}">
        <meta charset="utf-8">
        <link rel="icon" href="/img/safe_strongbox_money_icon_185919.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <a class="logo" href="/"><img src="https://i.postimg.cc/x8fTTn4T/asdasdadasdasd.png" alt="Logo"
                width="400px" height="50px"></a>
            <nav>
                <ul class="nav_link">
                    <li><a class="bar1" href="">About Us</a></li>
                    <li><a class="bar1" href="">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            <div class="button-box">
                <div class="button">
                    <div id="btn"></div>
                    <button type="button" class="btn-click" onclick="customer()">Customer Login</button>
                </div>
                <form id="customer" class="input" method="post">
                    <input type="text" class="field" name="ID" placeholder="ID" required>
                    <input type="text" class="field" name="name" placeholder="Name" required>
                    <input type="submit" class="login-btn" value="Login"></button>
                </form>                
            </div>
        </div>
        
    </body>
</html>