<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
        <link rel="stylesheet" href="{{url_for('static',filename='menuuuuss.css')}}">
        <meta charset="utf-8">
        <link rel="icon" href="/img/safe_strongbox_money_icon_185919.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <a class="logo" href="/menu"><img src="https://i.postimg.cc/1zxKyBCC/logos.png" alt="Logo"
                width="500px" height="70px"></a>
            <nav>
                <ul class="nav_link">
                    <li><a class="bar1" href="/aboutus">About Us</a></li>
                    <li><a class="bar1" href="/faq">FAQ</a></li>
                </ul>
            </nav>
            <a class="logout" href="/logout"><button>Log Out</button></a>
        </header>
        <div class="content">
            <div class="message">
                <h2>Welcome, {{ userlog }}</h2>
            </div>   
            <br>
            <br>
            <div class = btn-transaksi>
                <a id="transaksi" href="/accounts/transactions">
                    <img src="https://visualpharm.com/assets/460/Print-595b40b65ba036ed117d453c.svg" alt="Deposit"
                    width="150" height="70"> <br> PRINT ACCOUNT TRANSACTION <br>
                </a>
            </div>
            <div class="btn-account">
                <a id="text-account" href="/accounts">
                    <img id="account" src="https://icon-library.net/images/account-information-icon/account-information-icon-16.jpg"
                     alt="Show Account" width="80" height="70"> <br> SHOW ACCOUNT 
                     
                </a>
            </div>
            <div class="btn-account">
                <a id="text-account2" href="/customer/info">
                    <img id="account2" src="https://img.icons8.com/nolan/64/gender-neutral-user.png"
                     alt="Show Account" width="80" height="70"> <br> Profile
                     
                </a>
            </div>
        </div>
    </body>