<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" href="{{url_for('static',filename='detailss.css')}}">
</head>
<body>
    <header>
        <a class="logo" href="/menu"><img src="https://i.postimg.cc/1zxKyBCC/logos.png" alt="Logo"
            width="500px" height="70px"></a>
        <nav>
            <ul class="nav_link">
                <li><a class="bar1" href="/aboutus">About Us</a></li>
                <li><a class="bar1" href="/faq">FAQ</a></li>
            </ul>
        </nav>
        <a class="logout" href="/logout"><button>Log Out</button></a>
    </header>
    <div class="content">
        <h1 style="text-align: center">Account Details</h1>
        <table id="content-table">
            <thead>
                <tr>
                    <th>ACCOUNTID</th>
                    <th>CUSTOMERID</th>
                    <th>TYPE</th>
                    <th>BALANCE</th>
                    <th>DETAILS</th>
                </tr>
            </thead>
            <tbody>
                {% for d in det %}
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td>
                <td>{{ d[2] }}</td>
                <td>{{ d[3] }}</td>
                <td>
                    <a href="/accounts/deposit/{{d[0]}}">DEPOSIT</a> <br>
                    <a href="/accounts/withdraw/{{d[0]}}">WITHDRAW</a>   
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <a>{{all}}</a>
    </div>
    <a id="bck" href="/accounts">
        <img src="https://png.pngitem.com/pimgs/s/78-780842_back-button-white-icon-png-transparent-png.png" alt="back"
        width="100" height="70">
    </a> 
</body>
</html>